:root {
  --color-background: #111822;  
  --color-primary: #cc073c;
  --color-secondary: #cfcdd1;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html, body, #root {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: var(--color-background);
}

button {
  cursor: pointer;
}